:root {
  --text-color: hsla(228, 2%, 40%, 1);
  --link-color: rgb(241, 85, 93);
}

.about h6 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .about h6 {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about h6 {
    font-size: 18px;
  }
}

.about h1 {
  line-height: 1.3;
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  .about h1 {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about h1 {
    font-size: 38px;
  }
}

.about h3 {
  font-size: clamp(1.33rem, 1rem + 1.3vw, 1.77rem);
}
.about li {
  line-height: 1.5;
  font-size: clamp(.75rem, .5rem + .9vw, 1rem);
}

.about p {
  line-height: 1.7;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .about p {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about p {
    font-size: 20px;
  }
}

.about .quote {
  text-align: center;
  margin-bottom: 0;
  font-size: clamp(1rem, 1rem + .6vw, 1.33rem);
}

.about .reference {
  text-align: center;
  font-style: italic;
  color: hsla(228, 4%, 60%, 1);
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .about .reference {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about .reference {
    font-size: 22px;
  }
}
.about .about-cta {
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .about .about-cta {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about .about-cta {
    font-size: 20px;
  }
}
.about .about-cta a {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  color: hsla(228, 2%, 40%, 1);
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    hsla(357, 85%, 64%, 0.3),
    hsla(357, 85%, 64%, 0.3)
  );
  background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  transition: background-size 0.3s;
}
.about .about-cta a:hover {
  color: hsla(228, 2%, 40%, 1);
  background-size: 4px 50px;
}

.about a {
  color: var(--text-color);
  text-decoration-color: var(--link-color);
  transition: color 0.4s;
}
.about a:hover {
  color: var(--link-color);
}
