.about h6 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .about h6 {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about h6 {
    font-size: 18px;
  }
}

.about h1 {
  line-height: 1.3;
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  .about h1 {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about h1 {
    font-size: 38px;
  }
}

.about p {
  line-height: 1.7;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .about p {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about p {
    font-size: 20px;
  }
}

.about .quote {
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
}
@media screen and (min-width: 320px) {
  .about .quote {
    font-size: calc(24px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about .quote {
    font-size: 31px;
  }
}

.about .reference {
  text-align: center;
  font-style: italic;
  color: hsla(228, 4%, 60%, 1);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 17px;
}
@media screen and (min-width: 320px) {
  .about .reference {
    font-size: calc(17px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about .reference {
    font-size: 22px;
  }
}
.about .about-cta {
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .about .about-cta {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about .about-cta {
    font-size: 20px;
  }
}
.about .about-cta a {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  color: hsla(228, 2%, 40%, 1);
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    hsla(357, 85%, 64%, 0.3),
    hsla(357, 85%, 64%, 0.3)
  );
  background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  transition: background-size 0.3s;
}
.about .about-cta a:hover {
  color: hsla(228, 2%, 40%, 1);
  background-size: 4px 50px;
}
