footer {
  grid-template-columns: 3fr 1fr;
  font-size: 0.7rem;
  color: hsla(228, 2%, 60%, 1);
  margin-top: 4rem;
}
footer .copyright {
  text-align: left;
}
footer .online-presence {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: right;
}
