.link-wrapper a {
  text-decoration: none;
  color: hsla(228, 2%, 40%, 1);
  text-align: right;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  display: inline-block;
}
nav .link-wrapper a {
  padding-bottom: 2px;
}
footer .link-wrapper a {
  padding-bottom: 0;
  line-height: 1.2;
  color: hsla(228, 2%, 60%, 1);
}
footer .link-wrapper a:hover {
  color: hsla(228, 2%, 40%, 1);
}
.link-wrapper a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: hsla(357, 85%, 64%, 1);
  transition: width 0.3s;
}
nav .link-wrapper a::after {
  position: relative;
  top: 5px;
}
.link-wrapper a:hover::after {
  width: 100%;
}

a.text-link-wrapper {
  color: hsla(228, 2%, 40%, 1);
  /* border-bottom: 4px solid hsla(357, 85%, 64%, 0.5); */
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    hsla(357, 85%, 64%, 0.4),
    hsla(357, 85%, 64%, 0.4)
  );
  background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  transition: background-size 0.3s;
}
a.text-link-wrapper:hover {
  color: hsla(228, 2%, 40%, 1);
  background-size: 4px 50px;
}
