nav .link-wrapper a {
  text-decoration: none;
  color: hsla(228, 2%, 40%, 1);
  font-size: 15px;
  text-align: right;
  padding-bottom: 5px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
}
nav .link-wrapper a:hover {
  border-bottom: 3px solid hsla(357, 85%, 64%, 1);
  /* add style to make the links slide from the left to the right */
}
